* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --plant-type-color: #49d0b0;
    --plant-type-color-detail: #61e1ca;
    /* --plant-type-color-detail: #1d5346; */
    --text-details: #ebeaea;
}

body{
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ececec;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}