.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1.5rem 1rem;
    background-color: var(--plant-type-color);
    color: aliceblue;
    border-radius: 7px;
}

.pokemon .name {
    margin: .25rem 0;
}

.pokemon .number {
    color: #000;
    text-align: right;
    opacity: 0.3;
    font-size: .625rem;
    margin-bottom: 0;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.pokemon .detail .types {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pokemon .detail .types .type {
    background-color: var(--plant-type-color-detail);
    color: #fff;
    padding: 0.25rem 0.5rem;
    margin: .5rem;
    font-size: .625rem;
    border-radius: 1rem;
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}